@tailwind base;
@tailwind components;
@tailwind utilities; 

body{
    color: white;
    background-color: black;
}


.text-glow{
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.8), 0 0 20px rgba(255, 255, 255, 0.6), 0 0 30px rgba(255, 255, 255, 0.4);

}
.text-glow-hover {
    transition: text-shadow 0.3s ease; 
}
  
.text-glow-hover:hover {
    text-shadow: 0 0 10px #b179ff, 0 0 20px #b179ff, 0 0 30px #b179ff;
    transition: text-shadow 0.2s ease;
}

.custom-shadow {
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.6); 
    transition: box-shadow 0.3s ease-in-out; 
}
  

.custom-shadow:hover {
    box-shadow: 0px 0px 25px rgba(211, 211, 211, 0.8);
}

.scale-hover{
    transform: scale(1);
    transition: transform 0.3s; 
}

.scale-hover:hover{
    transform: scale(1.1); 
}

.shadow-hover{
    transition: shadow 0.3 ease-in-out;
}
.shadow-hover:hover{
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.8), 0 0 20px rgba(255, 255, 255, 0.6), 0 0 30px rgba(255, 255, 255, 0.4);
}

.swiper-button-next,
.swiper-button-prev{
  visibility: hidden;
}

/* Стили для контейнера слайдера */
.swiper-container {
    position: relative; /* Обязательно для правильного позиционирования кнопок */
}
  
  /* Стили для кнопок навигации */
.swiper-button-next,
.swiper-button-prev {
    position: absolute;
    bottom: 10px; /* Расстояние от нижнего края */
    right: 10px; /* Расстояние от правого края */
    z-index: 10; /* Чтобы кнопки не были перекрыты слайдером */
    width: 80px;
    height: 80px;
    background-color: black;
    border: solid 2px white;
    border-radius: 50px;
    color:white;
    display: flex;
    margin-top: 320px;
    transform: scale(0.8);
    transition: transform 0.3s;
}

.swiper-button-next:hover{
    transform: scale(0.9);
}

.swiper-button-prev:hover{
    transform: scale(0.9);
}
  
  /* Чтобы кнопки не перекрывали слайдер */
.swiper-button-next {
    right: 70px;
}

.swiper-button-prev {
    left: 680px; /* Для левой кнопки, немного влево */
}

.swiper-pagination {
    display: flex !important; /* Используем flexbox для выравнивания */
    justify-content: flex-start !important; /* Выравнивание кружков по левому краю */
    gap: 8px !important; /* Отступы между кружками */
    position: absolute !important; /* Позиционирование в левом нижнем углу */
    left: 10px !important; /* Расстояние от левого края */
    bottom: 10px !important; /* Расстояние от нижнего края *
    z-index: 10 !important; /* Обеспечиваем, чтобы пагинация была сверху */
    align-items: center !important; /* Выравнивание кружков по вертикали по центру */
}
/* Стиль для всех кружков */
.swiper-pagination-bullet {
    background-color: #AB70FD !important; /* Белый цвет для всех кружков */
    width: 10px !important; /* Размер обычного кружка */
    height: 10px !important; /* Размер обычного кружка */
    border-radius: 50% !important; /* Сделаем их круглыми */
    margin: 0 !important; /* Убираем дополнительные отступы */
    
}

/* Стиль для активного кружка */
.swiper-pagination-bullet-active {
    background-color: #8A3CFA !important; /* Белый цвет для активного кружка */
    width: 15px !important; /* Увеличенный размер для активного кружка */
    height: 15px !important; /* Увеличенный размер для активного кружка */
    opacity: 0.7 !important; /* Прозрачность активного кружка */
}

.animated-underline {
    position: relative;
    display: inline-block;
    font-size: 1.2em;
    font-weight: normal;
    text-decoration: none;
    color: #3ECF8E;
    cursor: pointer;
    padding-bottom: 2px; /* Отступ снизу для линии */
}
  
.animated-underline::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%; /* Начало линии из центра */
    width: 0; /* Исходная ширина линии */
    height: 2px; /* Толщина линии */
    background-color: #3ECF8E; /* Цвет линии */
    transition: width 0.4s ease, left 0.4s ease; /* Плавный переход */
}
  
.animated-underline:hover::after {
    width: 100%; /* Линия растягивается до полной ширины */
    left: 0; /* Линия смещается влево, чтобы покрыть весь элемент */
}


.animated-underline-white {
    position: relative;
    display: inline-block;
    font-size: 1.2em;
    font-weight: normal;
    text-decoration: none;
    color: white;
    cursor: pointer;
    padding-bottom: 2px; /* Отступ снизу для линии */
}
  
.animated-underline-white::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%; /* Начало линии из центра */
    width: 0; /* Исходная ширина линии */
    height: 2px; /* Толщина линии */
    background-color: white; /* Цвет линии */
    transition: width 0.4s ease, left 0.4s ease; /* Плавный переход */
}
  
.animated-underline-white:hover::after {
    width: 100%; /* Линия растягивается до полной ширины */
    left: 0; /* Линия смещается влево, чтобы покрыть весь элемент */
}

.animated-underline-violet {
    position: relative;
    display: inline-block;
    font-size: 1.2em;
    font-weight: normal;
    text-decoration: none;
    color: white; /* Начальный цвет текста */
    cursor: pointer;
    padding-bottom: 2px; /* Отступ снизу для линии */
    transition: color 0.4s ease; /* Плавное изменение цвета текста */
}

.animated-underline-violet::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%; /* Начало линии из центра */
    width: 0; /* Исходная ширина линии */
    height: 2px; /* Толщина линии */
    background-color: #AB70FD; /* Цвет линии */
    transition: width 0.4s ease, left 0.4s ease; /* Плавный переход для линии */
}

.animated-underline-violet:hover {
    color: #AB70FD; /* Цвет текста при наведении */
}

.animated-underline-violet:hover::after {
    width: 100%; /* Линия растягивается до полной ширины */
    left: 0; /* Линия смещается влево, чтобы покрыть весь элемент */
}



.lift-on-hover {
    transition: transform 0.3s ease-out;
}

.lift-on-hover:hover {
    transform: translateY(-10px);
}


.popup-animation {
    animation: fadeIn 0.5s ease-out;
    transform: scale(0.9);
    transition: transform 0.3s ease;
}
  
.popup-animation.popup-open {
    transform: scale(1);
}
  
@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: scale(0.9);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

.button-violet-hover {
    transition: all 0.3s ease-in-out;
}
  
.button-violet-hover:hover {
    color: black;
    background-color: #AB70FD;
    border: 2px solid black;
    transform: scale(1.05);
    font-weight: bold;
}

